
    {{template "layouts/header" .}}
    <main class="mb-auto max-w-7xl mx-auto justify-center gap-2">
        <div class="flex flex-col items-center h-full w-full">

            <h2 class="mt-2 text-center text-3xl font-bold tracking-tight text-base-content">
                Login
            </h2>
            <p class="text-center mt-1">
                Or <a href="/register" class="text-primary font-medium hover:cursor-pointer hover:underline"
                    >sign up</a
                > if you don't have an account.
            </p>
        <form action="/login" method="POST" class="flex flex-col items-center space-y-2 w-full pt-4">
            <input type="email" label="E-Mail" placeholder="E-Mail" name="email" class="input input-bordered w-full" />
            <Input type="password" id="password" label="Password" placeholder="Password" class="input input-bordered w-full"/>
            <button class="btn btn-primary w-full">Login</button>

        </form>
        </div>
    </main>

