<script>
  document.body.addEventListener("myEvent", function (evt) {
    function delay(time) {
      return new Promise((resolve) => setTimeout(resolve, time));
    }
    delay(1000).then(() => (window.location.href = "/login"));
  });
</script>
<main class="mb-auto max-w-7xl mx-auto justify-center gap-2">
  <div class="flex flex-col items-center h-full w-full">
    <div id="result" class="w-full"></div>

    <h2
      class="mt-2 text-center text-3xl font-bold tracking-tight text-base-content"
    >
      Reset your password
    </h2>
    <p class="text-center mt-1">
      Type your new password below and update your password.
    </p>
    <form
      hx-post="/auth/resetpassword/set/{{ .key }}"
      hx-swap="innerHTML"
      hx-target="#result"
      method="POST"
      class="flex flex-col items-center space-y-2 w-full pt-4"
    >
      <div class="form-control w-full max-w-7xl">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          type="password"
          id="password"
          name="password"
          label="Password"
          placeholder="Password"
          class="input input-bordered w-full"
        />
      </div>
      <div class="form-control w-full max-w-7xl">
        <label class="label">
          <span class="label-text">Repeat Password</span>
        </label>
        <input
          type="password"
          id="confirmpassword"
          name="confirmpassword"
          label="Repeat Password"
          placeholder="Repeat Password"
          class="input input-bordered w-full"
        />
      </div>

      <button class="btn btn-primary w-full">Save</button>
    </form>
  </div>
</main>
