<header class="">
<div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="/">Home</a></li>  
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          {{ if .IsLoggedIn }}            
            <li><a href="/dashboard">Dashboard</a></li>
            {{ else }}
            {{ end }}
        </ul>
      </div>
      <a class="btn btn-ghost normal-case text-xl">fiberHTMX</a>

    </div>
    <div class="navbar-center">
    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img src="https://ui-avatars.com/api/?name=u" />
              </div>
            </label>
          
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
              {{ if .IsLoggedIn }}            
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a>Settings</a></li>
              <li>
                <a class="justify-between">
                  Profile
                  <span class="badge">New</span>
                </a>
              </li>
              <li><a href="/logout">Logout</a></li>
              {{ else }}
  
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              {{ end }}

            </ul>
          </div>
    </div>
  </div>
</header>